.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
}
.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 0px;
}
.search-bar button[type="submit"] {
    background-color: #428bca;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.search-bar .fa-search {
    color: black;
    background-color: transparent;
}
.search-bar .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}
.button{
    background-color: transparent;
}
.search-button{
    border-radius: 10px 10px 10px 10px;

}
@media (max-width: 767px) {
    .search-bar .input-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-bar .input-group .form-control {
        width: 100%;
        margin-bottom: 10px;
    }
    .search-bar .input-group .dropdown-menu {
        width: 100%;
    }
    .search-bar .vertical-line {
        display: none;
    }
}   @media (max-width: 576px) {
    .search-bar .form-control {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .search-bar .dropdown-menu {
        display: none;
        width: 100%;
    }
    .search-bar .btn-group {
        display: block;
        width: 100%;
        position: relative;
    }
    .search-bar .btn-group.open .dropdown-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
/* Media query for tablets */
@media (min-width: 577px) and (max-width: 991px) {
    .search-bar .form-control {
        min-width: 300px;
    }
    .search-bar .dropdown-menu {
        width: 150px;
    }
}
/* Media query for other devices */
@media (min-width: 992px) {
    .search-bar .form-control {
        min-width: 400px;
    }
    .search-bar .dropdown-menu {
        width: 200px;
    }
}
/* Vertical line */
.search-bar .input-group-btn:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    height: 40px;
    margin-right: 10px;
}

/*Features Carousal*/
.carousel-container {
    position: relative;
    width: 100%;
    margin: 40px auto;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;

}

.card {
    display: inline-block;
    width: 200px;
    height: 45px;
    background-color: #ffffff;
    margin: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card i {
    float: left;
    font-size: 20px;
    margin: 5px;
    color: #202069;
}

.card p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
}

.carousel-btn:hover {
    color: #555;
}

#prevBtn {
    left: 10px;
    color: #b9252f;
    border: none;
}

#nextBtn {
    right: 10px;
    color: #b9252f;
    border: none;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 5px));
    }
}
.features .carousel {
    display: inline-block;
    margin: 0;
    padding: 20px;
    animation: scroll 30s linear infinite;

}

::-webkit-scrollbar {
    display: none;
}
/*Library hours*/
.library-hours{
    background-color: white;
    text-align: left;
    margin: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.library-hours-text{
    font-size: 15px;
    margin: 10px;
}


.new-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 181px;
}

#cards-container {
    overflow: hidden;
    margin: 20px;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 999px;
    height: 151px;
}

.new-book .card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 102px;
    margin: 15px 7.5px;
    height: 151px;
    }

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    display: inline-block;
    object-fit: contain;
}

#slide-left-container,
#slide-right-container {
    display: none;
}

#slide-left-container.active,
#slide-right-container.active {
    display: block;
    cursor: pointer;
}

.slide-left,
.slide-right {
    border-color: #b9252f;
    border-style: solid;
    height: 20px;
    width: 20px;
    margin-top: 30%;
}

.slide-left {
    border-width: 4px 0 0 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 40%;
}

.slide-right {
    border-width: 4px 4px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 22%;
}

.box-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.h-100{
    height: 100%;
}

@media (max-width: 768px) {
    .container.library-hours-container .row {
        flex-direction: column;
    }
    .new-books {
        margin-top: 40px;
    }
    .phone-view-adjust{
        margin-top: 30px !important;
    }
}
.carousel-control.left i {
    left: 0;
    margin-left: -20px;
}
.carousel-control.right i {
    right: 0;
    margin-right: -20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousal-actual{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50vh;
}
.icon-color{
    color: #09095b;
}


.search-container{
    border-radius: 100px;
    padding-top: 3vh;
    background-color: transparent;
}
.summon-search-field{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 90% !important;
}
.summon-search-submit{
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 1rem;
}
.summon-search-submit .fa{
    font-size: 20px;
    width: 20px;
}

body > div.page-wrapper > footer > div.footer-top > div > div > div:nth-child(1) > div > ul.list-inline.social-icons > li > a {
    margin: auto;
}

@media screen and (max-width: 767px) {
    .list-inline li {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .text-center p {
        margin-bottom: 0;
    }
    .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .list-inline li:nth-child(1),
    .list-inline li:nth-child(2),
    .list-inline li:nth-child(3) {
        float: left;
        width: 33.33%;
    }
    .list-inline li:nth-child(4),
    .list-inline li:nth-child(5),
    .list-inline li:nth-child(6) {
        float: left;
        width: 33.33%;
    }
    .summon-search-field{
        width: 21rem !important;
    }
    .reduce-font-size{
        font-size: 1rem;
    }
    .reduce-margin{
        margin-left: 0 !important;
    }
    .footer-main .footer-top .menu-link li a {
        font-size: 12px !important;
        line-height: 13px;
        font-weight: 400;
        color: #ababab;
        letter-spacing: 0.5px;
        font-family: "Source Sans Pro", sans-serif;
    }
    .footer-main .footer-top .location-link {
        padding-top: 10px;
        padding-left: 17px !important;
    }
    .mobile-padding{
        padding-top: 1rem;
        padding-left: 1rem;
    }
   .contact-padding{
       padding-right: 0 !important;
   }
   .contact-padding-left{
       padding-left: 1rem !important;
       padding-right: 0 !important;
   }
    .mobile-mon{
        padding-right: 1rem !important;
    }
    .mobile-frid{
        padding-right: 9rem !important;
    }
    .mobile-sat{
        padding-right: 0.1rem !important;
    }
    .team-members .team-person img {
        border-radius: 5px;
        width: 100%;
        padding: 0 25px 0 25px !important;
    }
    .new-book-container{
        display: flex;
        align-items: center;
    }
    .team-members .team-person {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .
}
.policies .story{
    padding-left: 5px !important;
}
.thumbnail{
    max-height: 170px !important;
}
